.a{
    height: 100px;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    border: 2px #000000 solid;
    background-color: #524778;
}

.b{
    height: 100px;
    width: 200px;
    box-sizing: content-box;
    padding: 10px;
    margin: 20px;
    border: 2px #000000 solid;
    background-color: #A596D6;
}


.c{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #7D77AA;
}